@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary me-2">POP3</button>
    <button type="button" class="btn btn-primary me-2">IMAP</button>
    <button type="button" class="btn btn-primary">SendMsg</button>
</div>
