@page
@model EmailClientWebApp.Pages.EmailSentModel
@{
}

<div class="bg-light d-flex align-items-center justify-content-center vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="mb-4">Email sent successfully</h1>
                <p class="lead">Thank you for using our email service. <br />Your message has been sent successfully.</p>
                <button class="btn btn-primary mt-4" onclick="location.href='@Url.Page("Index")'">Continue</button>
            </div>
        </div>
    </div>
</div>




