@page
@model EmailClientWebApp.Pages.LoginModel
@{
}
<div class="container">
    <main role="main" class="pb-3">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="col d-flex justify-content-center align-content-center">
                <div class="col-6 align-items-center" style="opacity: 0.9;">
                    <h1 class="text-center mb-5">Mail Client</h1>
                    <form method="post">
                        <div class="col-12 form-outline mb-4" style="opacity: 0.9;">
                            <input type="email" name="email" id="form2Example1" class="form-control" placeholder="Email address" />
                        </div>

                        <div class="col-12 form-outline mb-4" style="opacity: 0.9;">
                            <input type="password" name="password" id="form2Example2" class="form-control" placeholder="Generated App Password" />
                        </div>

                        <div class="col-12 d-flex justify-content-center text-center" style="opacity: 0.9;">
                            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>





